<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmk.mood.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.wmk.mood.model.domain.User">
        <id property="userId" column="user_id" />
        <result property="userAccount" column="user_account" />
        <result property="userPassword" column="user_password" />
        <result property="username" column="username" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="userRole" column="user_role" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_account,user_password,username,avatar_url,user_role,
        create_time,update_time,is_delete
    </sql>
</mapper>
